<%- include('partials/header') %>
<div class="homecontainer">

    <h1 class="heading"> Welcome <%= name %></h1>
    <div class="scheduleappointment">
        <form action="/home" method="POST">
            <div class="appointment-container">
                <h3>Schedule an appointment?</h3>
            </div>
            <div class="appointmentcontainer">
                <label class="textcenter" for="title">TITLE</label>
                <input placeholder="subject" name="title">
            </div>
            <div class="appointmentcontainer">
                <label class="textcenter" for ="agenda">AGENDA</label>
                <input placeholder="agenda" name="agenda">
            </div>
            <div class="appointmentcontainer">
                <label class="textcenter" for ="time">TIME</label>
                <input placeholder="in 24hrs format. Like 1800 for 6PM" name="time">
            </div>
            <div class="appointmentcontainer">
                <label class="textcenter" for ="guest">GUEST</label>
                <input placeholder="with?" name="guest">
            </div>
            <button type="submit" class="btn btn-dark">Submit</button>
        </form>

    </div>

    <div class="upcomingappointment">
        <div class="appointmentTitle">
            <h5>Upcoming Appointments!</h5>
        </div>
        <div class="appointmentContent">
            <% users.forEach(function(user) { %>
                <div class="appointmentcontainer appointmentcontentStyle">
                    <h6>SUBJECT: </h6>
                    <h5>   <%= user.title %> </h5> 
                </div>
                <div class="appointmentcontainer appointmentcontentStyle">
                    <h6>AGENDA: </h6>
                    <h5>   <%= user.agenda %> </h5> 
                </div>
                <div class="appointmentcontainer appointmentcontentStyle">
                    <h6>AT: </h6>
                    <h5>   <%= user.time %> </h5> 
                    <h6>HOURS</h6>
                </div>
                <div class="appointmentcontainer appointmentcontentStyle">
                    <h6>WITH: </h6>
                    <h5>   <%= user.guest %> </h5> 
                </div>
                <br><br>
                <%   }) %>
        </div>
        
            
    </div>

</div>
<%- include('partials/footer') %>